<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>What to sell in your etsy shop?</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    </head>
    <body>
        <div id="block-size">
            <div>
                <h1>Try this!</h1>
            </div>
            {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
            <br>
            {% endfor %}
            <div>
                <img src="{{ color_img1 }}" alt="first image">
                <img src="{{ color_img2 }}" alt="second image">
                <img src="{{ color_img3 }}" alt="third image">
                <br>
                <p id="colorsp">{{ final_color_sentence }}</p>
            </div>
            <div>
                <a href="/find_color"><input type="button" value="Generate" id="button"></a>
            </div>
        </div>
    </body>
</html>